<nav class="navbar">
  <div class="navbar-container">
    <ul class="navbar-menu">
      <li><a href="/" class="navbar-link">HOME</a></li>
      <li><a href="/ap" class="navbar-link">Academic Planner</a></li>
      <li><a href="/qna" class="navbar-link">Q&A</a></li>
    </ul>
  </div>
</nav>