<main id="container">
  <div id="chart">
    <script type="module" src="/public/js/academic_planner.js"></script>
  </div>
  <div id="course-list-container">
    <div id="course-list">
      <div id="courses">
      </div>
    </div>
  </div>
</main>