<main id="ap-container">
  <div class="" id="chart-container">
    <div id="chart">
      {{! <div id="chart-functions">
        <button id="change-color-btn">Change Color</button>
      </div>
      <div class="" id="chart-legend">
      </div> }}
      <script type="module" src="/public/js/academic_planner.js"></script>
    </div>
  </div>
  <div
    class="d-flex flex-column justify-content-center mb-3"
    id="course-list-container"
  >
    <div id="course-list">
      <div id="courses">
      </div>
    </div>
  </div>
</main>