<main id="ap-container">
  <div id="chart-container">
    <div id="chart-functions">
      <button id="change-color-btn">Change Color</button>
      <div id="chart-legend">
      </div>
    </div>
    <div id="chart">
      <script type="module" src="/public/js/academic_planner.js"></script>
    </div>
  </div>
  <div id="course-list-container">
    <div id="course-list">
      <div id="courses">
      </div>
    </div>
  </div>
</main>