<main id="ap-container">
  <div class="w-75 h-auto" id="chart-container">
    <div
      class="w-100 h-auto d-flex flex-column justify-content-center align-items-center"
      id="chart"
    >
      {{! <div id="chart-functions">
        <button id="change-color-btn">Change Color</button>
      </div>
      <div class="" id="chart-legend">
      </div> }}
    </div>
  </div>
  <div
    class="d-flex flex-column justify-content-center mb-3 w-25 h-100 border-start my-2"
    id="course-list-container"
  >
    <div
      class="d-flex flex-column justify-content-center align-items-center"
      id="course-list"
    >
      <div class="p-2" id="courses">
      </div>
    </div>
  </div>
  <script type="module" src="/public/js/academic_planner.js"></script>
</main>