<main class="home-page-container">
  <h1 class="home-page-title mt-3">
    Welcome!
    {{#if firstName}}{{firstName}}{{else}}FIRST NAME{{/if}}
  </h1>
  <p class="home-page-description">
    Welcome to Student Planner - your gateway to academic excellence! Designed
    with students in mind, this platform equips you with powerful tools to
    simplify every aspect of your educational journey. From planning your
    courses to staying on top of your deadlines, connecting with classmates, or
    perfecting your writing, we've got you covered. Embrace a smarter, more
    organized way to succeed—start today with Advanced Student Planner!
  </p>

</main>