<main> 
    <p></p><br>
    <p></p><br>

<form method="POST" action="/">
    <label for="givenText">Paste the text you want proofread here:</label><br>
    <input type="text" name="givenText"><br>
    <button type="submit">Upload Text</button>
</form>

<form method="POST" enctype="multipart/form-data" action="/">
     <label for="userFile">Or upload the text file you want proofread here:</label><br>
    <input type="file" name="userFile" accept="text/plain,.pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword"><br>
    <button type="submit">Upload File</button>
</form>

    {{#if hasErrors}}
    <ul class="error">
        {{#each errors}}
        <li class="errorServer">
        {{this}}
        </li>
        {{/each}}
    </ul>
    {{/if}}

    <p>Here is where your proofreaded and grammar checked file or essay will be once it's processed:</p>
    {{#if results}}
    <div name="results" id="results">{{results}}</div>
    <button name="resultsButton" id="resultsButton">Copy text</button>

    {{else}}

    <div name="results" id="results"></div>

    {{/if}}

    <script src='../public/js/proofreading.js'></script>

</main>