<main> 
    <p></p><br>
    <p></p><br>

<form method="POST" id="theForm" action="/">
    <label for="givenText">Paste the text you want proofread here:</label><br>
    <input type="text" name="givenText" id="givenText"><br>
    <button type="submit">Upload Text</button>
</form>

<form method="POST" id="fileForm"  enctype="multipart/form-data" action="/">
     <label for="userFile">Or upload the text file you want proofread here:</label><br>
    <input type="file" name="userFile" id="userFile" accept="text/plain,.pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword"><br>
    <button type="submit">Upload File</button>
</form>

    {{#if hasErrors}}
    <ul class="hasErrors">
        {{#each errors}}
        <li class="errorServer">
        {{this}}
        </li>
        {{/each}}
    </ul>
    {{/if}}

   <div id="error" class="error" hidden>Hey you're not supposed to see this!</div>
	<br>

    <p>Here is where your proofreaded and grammar checked file or essay will be once it's processed:</p>
    {{#if results}}
    <div name="results" id="results">{{results}}</div>
    <button name="resultsButton" id="resultsButton">Copy text</button>

    {{else}}

    <div name="results" id="results"></div>

    {{/if}}

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src='../public/js/proofreading.js'></script>

</main>